nav{
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#accounts{
    display: flex;
    padding-left: 5%;
}
li{
    list-style-type: none;
}
#maintitle{
    color: white;
    font-weight: bold;
    font-size: 25px;
     
}
.createnew{
    background-color: rgb(9, 27, 9);
    border: none;
}